<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#0b0f14">
    <link rel="stylesheet" href="{{ '/assets/css/site.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    {% seo %}
</head>

<body>
    {% capture links %}
    <a href="{{ site.links.resume | relative_url }}" class="btn btn-primary">Download PDF</a>
    <a href="https://www.linkedin.com/in/{{ site.links.linkedin }}" class="btn">LinkedIn</a>
    <a href="https://github.com/{{ site.links.github }}" class="btn">GitHub</a>
    <a href="{{ site.links.blog }}" class="btn">Blog</a>
    <a href="https://twitter.com/{{ site.twitter.username }}" class="btn">Twitter</a>
    <a href="https://stackoverflow.com/users/{{ site.links.stackoverflow }}" class="btn">StackOverflow</a>
    {% endcapture %}

    <header class="container">
        <a class="title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <p class="tagline">{{ site.description | default: site.github.project_tagline }}</p>
        <nav class="links">{{ links }}</nav>
    </header>

    <main class="container">
        {{ content }}
    </main>

    <footer class="container">
        <nav class="links">{{ links }}</nav>
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.author }}</p>
    </footer>
</body>

</html>
